
section {
    width: 80%;
    margin: 4rem auto;
}

.user-information {
    margin-top: 2rem;
}

.user-image {
    text-align: center;
    position: relative;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.profile-picture {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
}

.camara-icon {
    position: absolute;
    bottom: 0;
}

/*CAMARA STYLE*/
.file-label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.file-label:hover {
    background-color: var(--container-color);
}