<div class="no-tasks-container" *ngIf="!tasks.length">
    <img src="assets/notebook.png" alt="">
    <p *ngIf="!completed">No hay tareas por realizar</p>
    <p *ngIf="completed">No hay tareas completadas</p>
</div>

<div *ngIf="tasks.length" class="tasks-container">
    <h2 *ngIf="completed">Tareas completadas:</h2>
    <h2 *ngIf="!completed">Tareas por hacer:</h2>

    <button (click)="removeCompletedTasks()" *ngIf="completed" class="btn btn-borrar">
        Borrar tareas completadas
    </button>

    <div class="card-task" *ngFor="let task of tasks, let index = index">
        
        <input 
            (click)="completeTask(task)" 
            class="input-checkbox" 
            type="checkbox"
            [checked]="task.checked"
        >

        <div class="card-task-body">

            <div class="card-task-information">
                <div [class.checked]="task.checked" class="task-title">
                    {{ task.title }}
                    <i *ngIf="!completed" class="fa-solid fa-pen-to-square edit-task"></i>
                </div>
                <p>{{ getListType(task.listType!) }}</p>
                <div class="card-task-description">{{ task.description }}</div>
            </div>

            <div *ngIf="!completed" (click)="removeTask(index)" class="card-task-trash">
                <i class="white fa-solid fa-trash-can fa-2x"></i>
            </div>

        </div>

        <div class="card-date">
            <p>{{ convertDateToString(task.deadline.toString()) }}</p>
        </div>
    </div>
</div>
