<section class="logo-section"><img src="/assets/logo.png" alt=""></section>

<section class="main-container">

    <form [formGroup]="formGroup" class="form-container" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <p><label for="email-input" class="bold">Email:</label></p>
            <input formControlName="email" id="email-input" type="email" placeholder="Ingrese su email" class="input-style">
            <div 
                *ngIf="formGroup.controls['email'].touched && formGroup.controls['email'].errors?.['required']"
                class="error-message"
            >
                *Ingrese su email
            </div>
            <div 
                *ngIf="formGroup.controls['email'].touched && formGroup.controls['email'].errors?.['email']"
                class="error-message"
            >
                *Ingrese un email válido
            </div>
        </div>
    
        <div class="form-row">
            <p><label for="password-input" class="bold">Contraseña:</label></p>
            <input formControlName="password" id="password-input" type="password" placeholder="Ingese su contraseña" class="input-style">
            <div 
                *ngIf="formGroup.controls['password'].touched && formGroup.controls['password'].errors?.['required']"
                class="error-message"
            >
                *Ingrese una contraseña
            </div>
            <div 
                *ngIf="formGroup.controls['password'].touched && formGroup.controls['password'].errors?.['pattern']"
                class="error-message"
            >
                *Ingrese una contraseña válida
            </div>
        </div>
        
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
        
        <div class="btn-row">
            <button type="submit" class="btn btn-primary">
                <app-loading [isLoading]="isLoading"></app-loading>
                <span *ngIf="!isLoading">Iniciar sesión</span>
            </button>
            <!-- <button class="btn"><img src="/assets/google-icon.png" alt=""></button> -->
            <p>¿Aún no tienes una cuenta? <a routerLink="/sign-up" class="link">Crear una cuenta</a></p>
        </div>
    </form>
    
</section>