<section class="logo-section"><img src="/assets/logo.png" alt=""></section>

<section class="main-container">

    <div class="form-container">
        <div class="form-row">
            <p><label for="email-input" class="bold">Email:</label></p>
            <input id="password-input" type="email" placeholder="Ingese su email" class="input-style">
        </div>
    
        <div class="form-row">
            <p><label for="password-input" class="bold">Contraseña:</label></p>
            <input id="password-input" type="password" placeholder="Ingese su contraseña" class="input-style">
        </div>
    
        <div class="btn-row">
            <button class="btn btn-primary">Iniciar sesión</button>
            <button class="btn"><img src="/assets/google-icon.png" alt=""></button>
            <p>¿Aún no tienes una cuenta? <a routerLink="" class="link">Crear una cuenta</a></p>
        </div>
    </div>
    
</section>