<div class="container">

  <!--SIDEBAR LOGIC-->
  <div *ngIf="isResponsive" class="hamburger-container">
    <div class="hamburger-menu" (click)="toggleSidebar()">
      &#9776;
    </div>
    <img src="/assets/logo.png" width="150" alt="">
  </div>
  <div *ngIf="isResponsive && isSidebarOpen" class="overlay" (click)="toggleSidebar()"></div>
  <app-sidebar 
    [isSidebarOpen]="isSidebarOpen" 
    [isModalOpen]="isModalOpen" 
    [userInfo]="userInfo"
    (openModalEvent)="openModal($event)">
  </app-sidebar>

  <!--CONTENT-->
  <div class="content">
    <button 
      (click)="openCreateTask()" 
      class="btn btn-add"
    >+ Añadir una tarea</button>
    
    <!--DISPLAY TASKS-->
  </div>


  <!--CREATE TASK-->
  <app-create-task
    [isOpen]="isCreateTaskOpen"
    [listTypesArray]="listTypesService.getListTypeArray()"
    (closeCreateTaskEvent)="closeCreateTask($event)"
  >
  ></app-create-task>

  <!--MODAL-->
  <app-modal-list 
    [isOpen]="isModalOpen"
    (closeModalEvent)="closeModal($event)">
  </app-modal-list>

</div>
