<div class="modal-list" [class.active]="isOpen">

    <!-- Modal content -->
    <div class="modal-content">
        <span (click)="closeModal()" class="close">&times;</span>

        <p class="modal-title">Nombre del listado</p>

        <form [formGroup]="listForm" class="modal-input-box">
            <button type="button" class="btn btn-emoji" (click)="openEmojiSelector()">{{ newListType.emoji }}</button>

            <input formControlName="titleList" class="input-style input-title" type="text"
                placeholder="Ingrese el título" required>
        </form>
        <div 
            *ngIf="listForm.controls['titleList'].touched && listForm.controls['titleList'].errors?.['required']"
            class="error-message"
        >
            *Ingrese un título
        </div>

        <emoji-mart *ngIf="isEmojiSelectorOpen" class="emoji-selector" (emojiClick)="addEmoji($event)"></emoji-mart>

        <button type="submit" class="btn btn-primary" (click)="createListType()">Añadir</button>
    </div>

</div>