<div class="sidebar" [class.active]="isSidebarOpen">
    <ul class="top-item-list-container">
        <li>
            <a routerLink="/profile">
                <div class="icon-text">
                    <img [src]="userInfo?.image" alt="" class="profile-picture">
                    <!-- <i class="fa-solid fa-circle-user fa-2x"></i> -->
                    {{ userInfo?.username }}
                </div>
            </a>
        </li>
        <br><br>

        <li>
            <a routerLink="/home">
                <div class="list-task-counter">
                    <div class="icon-text">
                        <i class="fa-regular fa-square-check"></i>
                        <div>Por hacer</div>
                    </div>
    
                    <div class="counter">{{ taskService.getAmountOfTasksToDo() }}</div>
                </div>
            </a>
        </li>
        <li>
            <a routerLink="/completed-tasks">
                <div class="list-task-counter">
                    <div class="icon-text">
                        <i class="fa-solid fa-circle-check"></i>
                        <div>Completadas</div>
                    </div>    

                    <div class="counter">{{ taskService.getAmountOfCompletedTasks() }}</div>
                </div>
            </a>
        </li>
        <!-- <li>
            <a routerLink="/notifications">
                <div class="list-task-counter">
                    <div class="icon-text">
                        <i class="fa-solid fa-inbox"></i>
                        <div>Notificaciones</div>
                    </div>
    
                    <div class="counter">0</div>
                </div>
            </a>
            
        </li> -->
        <br>
        <hr>
        <li>
            <p class="single-word">
                Listados:
            </p>
        </li>

        <li class="btn-container">
            <button (click)="openModal()" class="btn btn-add-list">
                + Añadir listado
            </button>
        </li>

        <li class="lists-container">
            <div class="list-type" *ngFor="let list of listTypeService.getListTypeArray(); let index = index">
                <a routerLink="list-types/{{ list._id }}">
                    <div class="list-type-link">
                        <div>{{ list.emoji }}</div>
                        <div>{{ list.title }}</div>
                    </div>
                </a>
                <div (click)="deleteList(index)" class="trash-button">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
        </li>
    </ul>

    <ul class="bottom-item-list-container">
        <li>
            <a routerLink="" (click)="logout()">
                <div class="list-task-counter">
                    <div class="icon-text">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <div>Salir</div>
                    </div>    
                </div>
            </a>
        </li>
    </ul>
</div>